.banner {
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(114deg, #250e8a, #00faf7);
    padding-top: 130px;
    padding-bottom: 20px;
    &-wrapper {
        @extend %wrapper;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
    }
    &__item {
        display: grid;
        justify-items: center;
        align-items: center;
        width: 100%;
        height: 100%;
        h1,
        p {
            color: white;
            line-height: 1.2;
            margin-left: 130px;
        }
        h1 {
            font-size: size(xxxxxbig);
            font-weight: bold;
            margin-bottom: -12px;
        }
        p {
            font-size: 28px;
        }
        img {
            max-width: 90%;
            &:hover {
                cursor: pointer;
                transform: scale(1.1);
                transition: all 1.2s;
            }
        }
        &-button {
            width: 100%;
            display: grid;
            justify-items: start;
            padding-left: 130px;
            a {
                font-size: size(xbig);
                background-color: $color-secundary;
                text-transform: uppercase;
                line-height: 1.5;
                padding: 13px;
                padding-left: 36px;
                padding-right: 36px;
                text-decoration: none;
                color: #0e2b8a;
                font-weight: bold;
                box-shadow: 10px 15px 47px -1px rgba(0, 0, 0, 0.75);
                border-radius: 12px;
                &:hover {
                    box-shadow: none;
                    transition: all 0.9s;
                }
            }
        }
    }
    @include responsive(xxxxsmall, xlarge) {
        &-wrapper {
            grid-template-columns: 1fr;
            grid-gap: 36px;
        }
        &__item {
            grid-gap: 18px;
            padding-left: 16px;
            padding-right: 16px;
            h1,
            p {
                margin-left: 0;
                text-align: center;
            }
            h1 {
                font-size: size(xxxxbig);
            }
            p {
                font-size: size(xbig);
            }
            &-button {
                width: 100%;
                display: grid;
                justify-items: center;
                padding-left: 0;
                margin-bottom: 12px;
                a {
                    font-size: size(xbig);
                    background-color: $color-secundary;
                    line-height: 1.5;
                    padding: 13px;
                    padding-left: 36px;
                    padding-right: 36px;
                    text-decoration: none;
                    color: #0e2b8a;
                    font-weight: bold;
                    box-shadow: 10px 15px 47px -1px rgba(0, 0, 0, 0.75);
                    border-radius: 12px;
                    &:hover {
                        box-shadow: none;
                        transition: all 0.9s;
                    }
                }
            }
        }
    }
    @include responsive(xxxxsmall, xsmall) {
        &__item {
            h1,
            p {
                margin-left: 0;
                margin: 0;
                text-align: center;
            }
            h1 {
                font-size: size(xxbig);
            }
            p {
                font-size: size(big);
            }
            &-button {
                justify-items: center;
                padding-left: 0;
                a {
                    font-size: size(big);
                    max-width: 100vw;
                }
            }
        }
    }
}
