.header {
    min-width: 100%;
    min-height: 100px;
    max-height: 100px;
    position: fixed;
    z-index: 99;
    background: transparent;
    border: none;
    box-shadow: none;
    display: grid;
    justify-items: center;
    align-items: center;
    background: linear-gradient(114deg, #250e8a, #00faf7);
    &-wrapper {
        @extend %wrapper;
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        justify-items: center;
        align-items: center;
        min-height: 100px;
        max-height: 100px;
        padding: 0;
        .header-logo {
            width: 100%;
            height: 100%;
            display: grid;
            justify-items: start;
            align-items: center;
            padding-left: 130px;
            img {
                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                    transition: all 1.2s;
                }
            }
        }
        .nav {
            .control-nav,
            #control-nav,
            .control-nav-close {
                display: none;
            }
            .control-nav {
                width: 100%;
            }
            .control-nav__line {
                display: grid;
                justify-items: center;
                grid-gap: 5px;
                width: 100%;
                margin-right: -5px;
                &-wrapper {
                    display: grid;
                    justify-items: end;
                    grid-gap: 5px;
                    .line-hamburguer-button {
                        display: grid;
                        justify-items: end;
                        grid-gap: 5px;
                        width: 22px;
                        height: 3px;
                        background-color: white;
                        cursor: pointer;
                        &-half {
                            cursor: pointer;
                            width: 11px;
                            height: 3px;
                            background-color: white;
                        }
                    }
                }
            }
            ul {
                display: flex;
                li {
                    margin-right: 10px;
                    a {
                        text-decoration: none;
                        color: white;
                        font-size: size(big);
                        &:hover {
                            cursor: pointer;
                            transform: scale(1.5);
                            transition: all 1.2s;
                            font-size: size(xbig);
                            color: $color-secundary;
                        }
                    }
                }
            }
        }
    }
    @include responsive(xxxxsmall, xlarge) {
        background: #0e448a5e;
        &-wrapper {
            grid-template-columns: 1.4fr 1fr;
            padding-top: 8px;
            .header-logo {
                justify-items: right;
                padding-left: 0;
                img {
                    max-width: 90%;
                }
            }
            .nav {
                .control-nav {
                    display: block;
                }
                #control-nav:checked ~ .control-nav-close {
                    display: block;
                }
                #control-nav:checked ~ .ul {
                    display: block;
                }
                #control-nav:checked ~ .control-nav {
                    display: none;
                }
                #control-nav:not(:checked) ~ .control-nav-close {
                    display: none;
                }
                #control-nav:not(:checked) ~ .ul {
                    display: none;
                }
                #control-nav:not(:checked) ~ .control-nav {
                    display: block;
                }
                .control-nav-close {
                    position: fixed;
                    top: 4vh;
                    right: 5.5vh;
                    z-index: 999;
                    font-size: 28px;
                }
                ul {
                    display: block;
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100vw;
                    height: 100vh;
                    background-color: white;
                    z-index: 9;
                    text-align: center;
                    padding-top: 5vh;
                    display: grid;
                    grid-gap: 20px;
                    li {
                        margin-right: 0px;
                        margin-bottom: 10px;
                        a {
                            text-decoration: none;
                            color: black;
                            font-size: size(xbig);
                            &:hover {
                                cursor: pointer;
                                transform: scale(1.5);
                                transition: all 1.2s;
                                font-size: size(xxbig);
                                color: $color-secundary;
                            }
                        }
                    }
                }
            }
        }
    }
}
